
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8" />
    <title>Login - Munchie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>

    <script src="../app/app.js"></script>
<script src="app/routeConfig.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
   
    <link rel="stylesheet" type="text/css" href="../assests/styles/styles.css">
    <script src="../app/footer-part/footerController.js"></script>
    <script src="../app/footer-part/footerDirective.js"></script>
    <script src="../app/header-part/headerController.js"></script>
    <script src="../app/controllers/loginController.js"></script>
    <script src="../app/header-part/headerDirective.js"></script>
</head>

    <my-header></my-header>


    

   <div class="login-container" ng-controller="LoginController">
        <h2>Login</h2>
        <form ng-submit="loginUser(user)">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="user.username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.password" required>
            <br>
            <button type="submit">Log In</button>
        </form>
    </div>
    <my-footer></my-footer>
