
     <my-header></my-header>
     <div class="container">
        <div class="content custom-content">
          <div class="search-bar">
            <input type="text" ng-model="searchText" ng-change="searchRestaurants()" placeholder="Search restaurants">
            <button ng-click="searchRestaurants()">Search</button>
            
          </div>
            <div class="restaurant-list">
                <div class="list-item" ng-repeat="restaurant in filteredRestaurants" ng-click="restaurantred(restaurant.id)">
                    <a class="place-link">
                        <div class="place">
                            <img class="restaurant-image" alt="{{ restaurant.name }}" ng-src="{{ restaurant.picture }}">
                            
                            <span ng-if="restaurant._pureveg" class="leaf-icon">
                                <i class="fas fa-leaf">Pure Veg</i>
                            </span>
                            
                            <div class="place-details">
                                <div class="name">{{ restaurant.name }}</div>
                                
                                <div class="info-div">
                                    <div class="rating">
                                        <span ng-repeat="star in getStars(restaurant.ratings)">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="cuisine-type"><span>Baguihati</span></div>
                                <div class="cuisine-type">{{ restaurant.cuisineType }}</div>
                            </div>
                        </div>
                    </a>
                </div>
                
                
            </div>
        </div>
    </div>
    