
<!-- 
    <div class="restaurant-list" ng-controller="RestaurantDetailsController">
        <div class="restaurant-items" ng-repeat="dish in dishes" >
            <div class="list-item">
                <a href="#" class="place-link"> 
                    <div class="place">
                        <img class="restaurant-image" alt="{{ dish.name }}" ng-src="{{ dish.picture }}" > 
                        <div class="place-details">
                            <div class="name">{{ dish.name }}</div>
                            
                            <div class="info-div">
                                <div class="rating">
                                    <span class="icon-star"><i class="fas fa-star"></i></span>
                                    <span>{{ dish.ratings }}</span> 
                                </div>
                                <div>•</div>
                               
                                <div class="veg-status">{{ isVegetarian(dish) }}</div>

                            </div>
                           
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
 -->
 <div class="restaurant-list" ng-controller="RestaurantDetailsController">
    <div class="restaurant-items" ng-repeat="dish in dishes">
        <div class="list-item">
            <a href="#" class="place-link">
                <div class="place">
                    <img class="restaurant-image" alt="{{ dish.name }}" ng-src="{{ dish.picture }}">
                    <div class="place-details">
                        <div class="name">{{ dish.name }}</div>
                        
                        <div class="info-div">
                            <div class="rating">
                                <span class="icon-star"><i class="fas fa-star"></i></span>
                                <span>{{ dish.ratings }}</span>
                            </div>
                            <div>•</div>
                            <div class="veg-status">{{ isVegetarian(dish) }}</div>
                        </div>
                        
                        <!-- Add to Cart Section -->
                        <div class="add-to-cart">
                            <button ng-click="addToCart(dish)">Add to Cart</button>
                            <div class="quantity-control">
                                <button ng-click="decrementQuantity(dish)">-</button>
                                <span>{{ dish.quantity || 0 }}</span>
                                <button ng-click="incrementQuantity(dish)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
